DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,driller-core
PORT=8003

CORE_DISPLAY_NAME=Driller Core
COMPANY_DISPLAY_NAME=Sunrise GEO
PLATFORM_NAME=Driller Network
DRILLER_CORE_INTERNAL_SHARED_SECRET=change-me-internal-secret

POSTGRES_DB=driller_core
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db-v2
POSTGRES_PORT=5432
